pool:
  vmImage: macOS-15

variables:
  moduleName: 'boost'

resources:
  repositories:
    - repository: Boost-iOS
      type: github
      name: Cogosense/Boost-iOS
      endpoint: Cogosense
      ref: main

jobs:
  - job: Build
    displayName: Build Boost XCFramework
    steps:
      - checkout: self
      - script: |
          for sdk in macosx iphoneos iphonesimulator ; do
            make SDK=$sdk
          done
          make xcframework
          make GITBRANCH=$(Build.SourceBranchName) release
          version=$(make version)
          echo "##vso[task.setvariable variable=boostVersion;isOutput=true]$version"
        name: build
      - task: CopyFiles@2
        inputs:
          Contents: 'boost.xcframework.zip'
          TargetFolder: $(Build.ArtifactStagingDirectory)
      - publish: $(Build.ArtifactStagingDirectory)
        displayName: 'Cache Boost XCFramework'
        artifact: framework

  - job: Publish
    dependsOn: Build
    condition: and(succeeded('Build'),not(canceled()))
    displayName: Publish SPM metadata Package.swift
    variables:
      boostVersion: $[ dependencies.Build.outputs['build.boostVersion'] ]
    steps:
      - checkout: Boost-iOS
        fetchTags: true
        persistCredentials: true
      - download: current
        artifact: framework
        displayName: 'Get cached Boost XCFramework'
      - script: |
          CHKSUM=$(swift package compute-checksum $(Pipeline.Workspace)/framework/boost.xcframework.zip)
          ls -l /usr/bin/sed
          which sed
          echo "boost version: $(boostVersion)"
          sed -E -i '' '/let moduleName =/s/= ".+"/= "$(moduleName)"/' Package.swift
          sed -E -i '' '/let version =/s/= ".+"/= "$(boostVersion)"/' Package.swift
          sed -E -i '' "/let checksum =/s/= \".+\"/= \"$CHKSUM\"/" Package.swift
          cat Package.swift
          git config --global user.email "cogojenkins@cogosense.com"
          git config --global user.name "$(Build.DefinitionName) Azure Pipeline"
          git tag -l $(boostVersion)
          if false ; then
          git commit -m "Update SPM to version $(boostVersion)" Package.swift
          git tag -am "Release Boost for iOS $(boostVersion)" $(boostVersion)
          git push origin HEAD:main --follow-tags
          fi

  - job: Release
    dependsOn: Publish
    condition: and(succeeded('Publish'),not(canceled()))
    displayName: Release binary SPM XCFramework
    variables:
      boostVersion: $[ dependencies.Build.outputs['build.boostVersion'] ]
    steps:
      - checkout: Boost-iOS
      - download: current
        artifact: framework
        displayName: 'Get cached Boost XCFramework'
      - script: |
          echo $(boostVersion)


